---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Learning Three.js">
  <div class="space-y-10 py-10 md:py-20">
    <h1 class="w-full text-center text-4xl font-thin">Let's Animate!</h1>
    <div class="flex w-full justify-center">
      <ul class="space-y-2">
        <li>
          <a href="examples/1" class="hover:underline">Basics</a>
        </li>
        <li>
          <a href="examples/2" class="hover:underline">Groups</a>
        </li>
        <li>
          <a href="examples/3" class="hover:underline"
            >Animations - With Delta Time</a
          >
        </li>
        <li>
          <a href="examples/4" class="hover:underline"
            >Animations - With Clock</a
          >
        </li>
        <li>
          <a href="examples/5" class="hover:underline">Animations - With GSAP</a
          >
        </li>
        <li>
          <a href="examples/6" class="hover:underline"
            >Cameras - Ortigraphic Camera and Basic Cursor Movement</a
          >
        </li>
        <li>
          <a href="examples/7" class="hover:underline"
            >Cameras - Cursor Rotation Movement</a
          >
        </li>
        <li>
          <a href="examples/8" class="hover:underline"
            >Cameras - OrbitControls</a
          >
        </li>
        <li>
          <a href="examples/9" class="hover:underline"
            >Viewports - Full-Screen and Resizing</a
          >
        </li>
        <li>
          <a href="examples/10" class="hover:underline">Vue - TresJS</a>
        </li>
        <li>
          <a href="examples/11" class="hover:underline">Debug - with dat.GUI</a>
        </li>
        <li>
          <a href="examples/12" class="hover:underline">Textures - Basics</a>
        </li>
        <li>
          <a href="examples/13" class="hover:underline">Materials - Basics</a>
        </li>
        <li>
          <a href="examples/14" class="hover:underline">3D Text - Unoptimized</a
          >
        </li>
        <li>
          <a href="examples/15" class="hover:underline">3D Text - Optimized</a>
        </li>
        <li>
          <a href="examples/16" class="hover:underline">Lights - Basics</a>
        </li>
        <li>
          <a href="examples/17" class="hover:underline">Shadows - Basics</a>
        </li>
        <li>
          <a href="examples/18" class="hover:underline">Shadows - Baked</a>
        </li>
        <li>
          <a href="examples/19" class="hover:underline"
            >Shadows - Simple Shadow Texture</a
          >
        </li>
        <li>
          <a href="examples/20" class="hover:underline">Haunted House</a>
        </li>
        <li>
          <a href="examples/21" class="hover:underline"
            >Particles - Basics (Unoptimized)</a
          >
        </li>
        <li>
          <a href="examples/22" class="hover:underline">Galaxy Generator</a>
        </li>
        <li>
          <a href="examples/23" class="hover:underline">Raycasting - Basics</a>
        </li>
        <li>
          <a href="examples/24" class="hover:underline"
            >Vue - TresJS ScrollControls</a
          >
        </li>
        <li>
          <a href="examples/25" class="hover:underline">Vue - ThreeJS</a>
        </li>
        <li>
          <a href="examples/26" class="hover:underline"
            >Vue - ThreeJS and TresJS mixed</a
          >
        </li>
      </ul>
    </div>
  </div>
</Layout>
