---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Learning Three.js">
  <h1 class="w-full text-center text-4xl font-thin">Hello World!</h1>
  <div id="canvas-container" class="flex aspect-square w-full justify-center">
    <ul>
      <li>
        <a href="examples/1" class="hover:underline">Example 1</a>
      </li>
    </ul>
  </div>
</Layout>
