---
const { title, description } = Astro.props;
---

<div class="relative flex h-screen flex-col">
  <a
    href="/"
    class="fixed left-2 top-2 h-8 w-8 transition-transform hover:scale-125 md:left-4 md:top-4"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-move-left"
      ><path d="M6 8L2 12L6 16"></path><path d="M2 12H22"></path></svg
    ></a
  >
  <div class="absolute inset-x-0 top-20">
    <h1 class="w-full text-center text-4xl font-thin">{title}</h1>
    <h2 class="w-full text-center text-2xl font-thin">
      {description}
    </h2>
  </div>
  <div class="flex h-screen items-center justify-center">
    <slot>
      <div id="canvas-container" class="flex w-full flex-1 justify-center">
      </div>
    </slot>
  </div>
</div>
